@import 'nib'

notext()
	white-space nowrap
	text-indent -9999px
	overflow hidden

uniform-centerize()
	display flex
	flex-direction column
	justify-content center

global-reset()

@import './form-reset'

//--------------------------------------------------
*, ::after, ::before
	box-sizing: border-box
	outline none

::selection,
::-moz-selection,
::-webkit-selection
	background white

[v-cloak]
	visibility hidden

select
	font-size 1.2rem

//--------------------------------------------------
html, body
	width 100%
	height 100%
	overflow hidden

html
	font-family 'Cabin', sans-serif
	font-smoothing antialiased
	-moz-osx-font-smoothing: grayscale
	font-size 10px

body
	font-size 1.6rem
	background: #0a0a0a
	line-height 1.2

//--------------------------------------------------
// others

#image-loader
	visibility hidden

//--------------------------------------------------
// drag-over

.drag-over
	position absolute
	display flex
	flex-direction column
	justify-content center
	top 0
	left 0
	width 100%
	height 100%
	z-index 100
	background-color rgba(16, 16, 16, .6)
	transition all .2s ease
	opacity 0
	pointer-events: none

	body.drag &
		opacity 1

.drag-over__text
	color #ddd
	text-align center
	font-size 1.8rem

//--------------------------------------------------
// toolbar

$toolbar-width = 240px

.toolbar
	position absolute
	display flex
	flex-direction column
	top 0
	left 0
	width $toolbar-width
	height 100%
	color #ccc
	background #1a1a1a
	user-select none

.toolbar__title
	margin 0 1rem 0
	padding 1.4rem .4rem
	border-bottom 1px solid #333
	line-height 1.3
	font-size 2rem
	margin-bottom 1.5rem

.toolbar__control
	flex-grow 2

@import './ctrl.styl'

//--------------------------------------------------
// easel
.easel
	position absolute
	top 0
	right 0
	bottom 0
	left $toolbar-width

$canvas-margin = 15px

.canvas-wrapper
	position absolute
	top $canvas-margin
	right $canvas-margin
	bottom $canvas-margin
	left $canvas-margin
	cursor none


.brush-cursor
	position relative
	border 1px solid white
	width 30px
	height 30px
	margin -15px 0 0 -15px
	border-radius 50%
	visibility hidden
	z-index 100
	mix-blend-mode difference
	pointer-events none


	&.show
		visibility visible

#canvas
	position absolute
	top 0
	left 0
	box-sizing content-box
	transform-origin top left
