doctype html
html
	head
		include ./pug/_meta.pug

	body(v-cloak)

		.toolbar
			h1.toolbar__title
				| Feedback
				br
				| Displacement

			.toolbar__control.ctrl

				.ctrl__component.ctrl__dropdown
					label TYPE
					select(v-model='currentEffect' v-on:change='changeEffect()')
						option(v-for='effect in effects' v-bind:value='effect.value') {{effect.label}}

				hr

				ctrl-group(v-bind:params='params' v-on:change='updateUniforms')

			.toolbar__menu
				ul
					li: button(v-on:click='onClickLoad') LOAD
					li: button(v-on:click='onClickSave') SAVE
					li: button(v-on:click='onClickReset') RESET


		.easel
			.brush-cursor

			.canvas-wrapper
				canvas#canvas


	script(src='./js/dat.gui.min.js')
	script(src='./js/index.js')
